
<nav class="nav">
    <a [routerLink]="['/']" class="nav__title">derrick bray</a>
    <div class="link">
      <div class="icon-box">
        <a [routerLink]="['/travels']" class="link-travel">Travel</a>
        <a href="https://github.com/derrickbray"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/derrick-bray"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://twitter.com/derrickbray"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
