.pictures {
  margin: 3rem 3rem 10rem;
}

.hero {
  padding: 2rem;
  text-align: center;
}

.square {
  position: relative;
  width: 100%;
  padding-top: calc(100%);
  overflow: hidden;
}

.square__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*filter: opacity(0.9);*/
}

.grid {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  font-family: 'Harmattan', sans-serif;
}

.grid__item {
  /*flex-grow: 1;*/
  padding: 0.5rem;
  width: calc(100% / 3 - 2rem);
  min-width: 17rem;
  margin: 0.5rem;
  background: white;
}

.grid__item:hover {
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.grid-item-info {
  padding: 0.5rem;
  background: white;
  font-size: 1.7rem;
  /*text-align: center;*/
}

.grid-item-infohide {
  display: none;
  padding: 1rem;
  background: white;
}
