<!-- <section class="nav">
  <div class="container">
    <div class="nav-content">
      <div class="nav-content__right">
        <a href="index.html" class="nav-content__title">Travels</a>
      </div>
      <div class="nav-content__left">
        <a href="west.html" class="nav-content__item">West Coast</a>
        <a href="east.html" class="nav-content__item">East Coast</a>
        <a href="between.html" class="nav-content__item">In-Between</a>
      </div>
    </div>
  </div>
</section> -->

<!-- <div class="hero">
  <div class="container">
    <h1 class="hero__title">My family and I have been traveling the U.S.</h1>
    <h3 class="hero__tag">These are some of our favorite places.</h3>
    <h3 class="hero__tag hidenotdesk">(Click on a Picture to Enlarge)</h3>
  </div>
</div> -->


  <section class="pictures">
    <div class="container">
      <div class="grid">

        <div class="grid__item" *ngFor="let item of photoContent" (click)="showModal(item.id)">
          <div class="square">
            <img class="square__pic" src="{{item.img}}" alt="">
          </div>
          <div class="grid__item-info">{{item.location}}</div>
          <!-- <div class="grid__item-infohide">{{item.hideText}}</div> -->
        </div>
      </div>
    </div>
  </section>
