<div id="modal"></div>
  <div id="modal-card">
    <div class="top-container">
      <div class="exit" (click)="closeModal()">X</div>
    </div>
    <div class="img-container">
      <img class="modal-img" src="{{modalObj.img}}" alt="">
    </div>
  </div>
  <div id="modal-sort">
    <div class="modal-sort__top">Sort By</div>
    <div class="modal-sort__body">
      <div class="modal-sort__inputbox">
        <div class="sort-inputs">
          <div class="">
            <input type="radio" class="sort-choice" id="sort-random" name="sort" value="random" checked>
            <label for="sort-random">Random</label>
          </div>
          <div class="">
            <input type="radio" class="sort-choice" id="sort-region" name="sort" value="region">
            <label for="sort-region">By Region</label>

            <div class="dropdown" id="region-drop">
              <h2 class="dropdown-title">
                <div class="show-sort">
                  <i class="arrow down" id="arrow"></i>
                </div>
              </h2>
              <div id="dropdown-box" class="dropdown-box">
                <div class="dropdown-box__item" *ngFor="let region of allRegions">
                  <div (click)="showSortedRegion(region)">{{region}}</div>
                </div>
              </div>
            </div>


          </div>
          <div class="">
            <input type="radio" class="sort-choice" id="sort-state" name="sort" value="state">
            <label for="sort-state">By State</label>
            <select class="sort-select" id="state-select">
              <option value="">hey</option>
              <option value="">there</option>
            </select>
          </div>
          <div class="">
            <input type="radio" class="sort-choice" id="sort-all" name="sort" value="all">
            <label for="sort-all">All</label>
          </div>
        </div>
        <div class="btn-box">
          <div class="modal-btn">Cancel</div>
          <div class="modal-btn default">Sort</div>
        </div>
      </div>
    </div>
  </div>
<section class="pictures">
  <div class="container">
    <div class="sort" (click)="showModalEdit()">Sort by</div>
    <div class="grid">
      <div class="grid__item" *ngFor="let item of showPhotos" (click)="showModal(item)">
        <div class="square">
          <img class="square__pic" src="{{item.img}}" alt="">
        </div>
        <div class="grid__item-info">{{item.location}}</div>
      </div>

    </div>
  </div>
</section>
