<div id="modal"></div>
<div id="modal-card">
  <div class="top-container">
    <div class="exit" (click)="closeModal()">X</div>
  </div>
  <div class="img-container">
    <img class="modal-img" src="{{modalObj.img}}" alt="">
  </div>
</div>
<section class="pictures">
  <div class="container">
    <div class="sort-settings">

    <div class="sort">Sort by</div>
    <div id="state-radio">
      <input type="radio" class="sort-choice" id="sort-state" name="sort" value="state">
      <label for="sort-state">By State</label>
      <div class="dropdown" id="state-drop">
        <div id="dropdown-box" class="dropdown-box">
          <div class="dropdown-box__item" *ngFor="let state of allStates">
            <div (click)="showSortedState(state)">{{state}}</div>
          </div>
        </div>
      </div>
    </div>

    <div id="region-radio">
      <input type="radio" class="sort-choice" id="sort-region" name="sort" value="region">
      <label for="sort-region">By Region</label>
      <div class="dropdown" id="region-drop">
        <div id="dropdown-box" class="dropdown-box">
          <div class="dropdown-box__item" *ngFor="let region of allRegions">
            <div (click)="showSortedRegion(region)">{{region}}</div>
          </div>
        </div>
      </div>
    </div>

    <div id="" >
      <input (click)="showDefault()" type="radio" class="sort-choice" id="sort-random" name="sort" value="random">
      <label for="sort-random">Random</label>
    </div>

    <div id="">
      <input  (click)="showAllPhotos()" type="radio" class="sort-choice" id="sort-all" name="sort" value="all">
      <label for="sort-all">All</label>
    </div>

    <!-- <div id="">
      <input type="radio" class="sort-choice" id="search" name="sort" value="search">
      <label for="search">By Keyword</label>
    </div> -->
  </div>

    <div class="grid">
      <div class="grid__item" *ngFor="let item of showPhotos" (click)="showModal(item)">
        <div class="square">
          <img class="square__pic" src="{{item.img}}" alt="">
        </div>
        <div class="grid__item-info">{{item.location}}</div>
      </div>

    </div>
  </div>
</section>
