<div id="modal"></div>
  <div id="modal-card">
    <div class="top-container">
      <div class="content">{{modalObj.hideText}}</div>
      <div class="exit" (click)="closeModal()">X</div>
    </div>
    <div class="img-container">
      <img class="modal-img" src="{{modalObj.img}}" alt="">
    </div>
    <!-- <div class="modal-img">{{modalObj.img}}</div> -->
  </div>
<section class="pictures">
  <div class="container">
    <div class="grid">

      <div class="grid__item" *ngFor="let item of showPhotos" (click)="showModal(item)">
        <div class="square">
          <img class="square__pic" src="{{item.img}}" alt="">
        </div>
        <div class="grid__item-info">{{item.location}}</div>
      </div>

    </div>
  </div>
</section>
